body{
    background-image: url(./img/pexels-yan-krukov-9072216.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box{
    width: 320px;
    height: 320px;
    background-color: rgb(0,0,0,.9);
    color: white;
    margin: 100px auto 0;
    position: relative;
    padding: 70px 30px;
}
.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    display: block;
    font-size: 50px;
    font-weight: bold;
}
.login-box label{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 20px;
    height: 40px;
    color: whitesmoke;
    outline: none;
}
.login-box input[type="submit"]{
    width: 50%;
    display: block;
    margin: 0 auto 20px;
    height: 35px;
    font-size: 25px;
    background-color: transparent;
    border-color: white;
    font-weight: bold;
    color:white;
    border-radius: 40px;
}
.login-box input[type="submit"]:hover{
    background-color: aqua;
    color: black;
}

.login-box  a{
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: whitesmoke;
    display: block;
}
.login-box a:hover{
    color: aqua;
}
